@font-face {
    font-family: "BebasNeue";
    src: url("/D:/Servak/MAMP/htdocs/diplom/fonts/bebasneuethin.woff2");
}
body {
    display: inline;
    font-size: 32px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-family: 'BebasNeue';
    min-height: 100%;
}
header
{
    background-color: #D9D9D9;
    display: block;
    position: fixed;
    width: 100%;
    z-index: +1;
}
header > ._wrapper {
    width: 70%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin: auto;
    justify-content: space-between;
}
header > ._wrapper > div:last-child
{
    display: flex;
    gap: 10px;
}
header .social-links {
    display: flex;
}


.tel
{
    margin: auto;
    font-weight: 600;
    /* font-size: 40px; */
    white-space: nowrap;
}
.tel a
{
    color: #303030;
    text-decoration: none;
}

.btn {
    background-color: #FFB800;
    /* font-size: 1.8rem; */
    justify-content: space-between;
    border:1px solid #FFB800;
    color: #303030;
    font-family: 'BebasNeue';
    text-transform: uppercase;
    border-radius: 0.5rem;
    border-width:0ch;
    padding: .3rem 1rem;
    font-weight: bold;
    white-space: nowrap;
}
a.btn{
    font-size: 24px;
}
.social-links a {
    margin: 5px;
    display: block;
}